Flask
Flask-RESTful
Flask-SQLAlchemy
Flask-Scss
Jinja2
MarkupSafe
PyMySQL
SQLAlchemy
Werkzeug<1.0.0
aniso8601
argparse
itsdangerous
argon2-cffi
pylibmc
python-dateutil
pytz
six
google-cloud-logging
google-cloud-storage
mailjet_rest
requests
