body {
  padding-top: 40px;
}
.left-sidebar {
  background-color: #cbcbcb;
}
.btn-delete {
  display: inline;
  float: right;
  margin-top: -39px;
}
.list-group {
  margin-top: 20px;
}
.right {
  float: right;
  margin-top: -19px;
}
.solved {
  padding-top: 8px;
  padding-bottom: 8px;
}
