html,body,.full-height {
  height: 100%;
}
body {
  padding-top: 40px;
  background-color: #2f343a;
}
.navbar-default {
  background-color: #27326d;
}
.left-sidebar-background {
  background-color: #cbcbcb;
  /* This is so hacky but necessary. */
  position: absolute;
  z-index: -1;
  width: 100%;
  margin-left: -15px;
  min-height: 99999px;
  margin-bottom: -99999px;
  overflow: hidden;
}
.left-sidebar {
  position: relative;
}
.btn-delete {
  display: inline;
  float: right;
  margin-top: -39px;
}
.list-group {
  margin-top: 20px;
}
a.list-group-item {
  background-color: #27326d;
}
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  background-color: #8899b7;
  border-color: #8899b7;
}
.right {
  float: right;
}
.points {
  margin-top: -19px;
}
.solved {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 10px;
  margin-bottom: 0;
  display: inline-block;
}
.challenge-table {
  font-size: 16px;
}
.challenge-table .btn {
  padding-top: 0;
  padding-bottom: 0;
}
#scoreboard {
  font-size: 16px;
}
a.btn {
  text-decoration: none;
}
.lockbtn {
  width: 95px;
}
.challenge-table .btn {
  margin-right: 10px;
}
.challenge-table .btn.btn-xs {
  margin-right: 0px;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.well h4 {
  margin-top: 0;
}
#news-box {
    background-color: #4e5d6c;
    height: 150px;
    overflow: auto;
}
#news-box ul {
    list-style-type: none;
    padding: 10px 16px;
}
#news-box .news-item {
    padding-bottom: 16px;
}
#news-box .news-item p {
    margin: 0;
}
#news-box .news-item .byline {
    font-size: 80%;
}
input.form-control[readonly] {
    background-color: #fff;
}
#countdown {
    float: right;
    /* Wish this didn't need to be hard coded. */
    line-height: 21px;
    padding-top: 9.5px;
}
#loading-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
    z-index: 2000;
    background-color: #000;
    display: none;
}
.cat-count {
    float: right;
}

/* Scoreboard chart formatting */
.sbchart {
  width: 100%;
  height: 300px;
}

.sbchart-legend {
  float: right;
  overflow: auto;
}

ul.step-legend {
  list-style-type: none;
}

ul.step-legend li {
  white-space: nowrap;
}

.step-legend-marker {
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-right: 3px;
}

/* Team page */
.team-solved {
  margin-top: 20px;
}

table.team-challenges {
  font-size: 100%;
}

.category-chart {
  height: 250px;
}

.team-score-chart {
  height: 250px;
}

/* Helpers */
.oneline {
  white-space: nowrap;
}
