html,body,.full-height {
  height: 100%;
}
body {
  padding-top: 40px;
}
.left-sidebar-background {
  /* This is so hacky but necessary. */
  position: absolute;
  z-index: -1;
  width: 100%;
  margin-left: -15px;
  min-height: 99999px;
  margin-bottom: -99999px;
  overflow: hidden;
}
.left-sidebar {
  position: relative;
}
.btn-delete {
  display: inline;
  float: right;
  margin-top: -39px;
}
.list-group {
  margin-top: 20px;
}
.right {
  float: right;
}
.panel-heading .right {
  margin-top: -2em;
}
.panel-heading .btn {
  font-size: 150%;
}
.challenge .solved {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 10px;
  margin-bottom: 0;
  display: inline-block;
}
.challenge-table {
  font-size: 16px;
}
.challenge-table .btn {
  padding-top: 0;
  padding-bottom: 0;
}
#scoreboard {
  font-size: 16px;
}
a.btn {
  text-decoration: none;
}
.lockbtn {
  width: 95px;
}
.challenge-table .btn {
  margin-right: 10px;
}
.challenge-table .btn.btn-xs {
  margin-right: 0px;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.well h4 {
  margin-top: 0;
}
#news-box {
    height: 150px;
    overflow: auto;
}
#news-box ul {
    list-style-type: none;
    padding: 10px 16px;
}
#news-box .news-item {
    padding-bottom: 16px;
}
#news-box .news-item p {
    margin: 0;
}
#news-box .news-item .byline {
    font-size: 80%;
}
#countdown {
    float: right;
    /* Wish this didn't need to be hard coded. */
    line-height: 21px;
    padding-top: 9.5px;
}
#loading-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
    z-index: 2000;
    display: none;
}
.cat-count {
    float: right;
}

/* Scoreboard chart formatting */
.sbchart {
  width: 100%;
  height: 300px;
}

.sbchart-legend {
  float: right;
  overflow: auto;
}

ul.step-legend {
  list-style-type: none;
}

ul.step-legend li {
  white-space: nowrap;
}

.step-legend-marker {
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-right: 3px;
}

/* Team page */
.team-solved {
  margin-top: 20px;
}

table.team-challenges {
  font-size: 100%;
}

.category-chart {
  height: 250px;
}

.team-score-chart {
  height: 250px;
}

/* Helpers */
.oneline {
  white-space: nowrap;
}

/* Jeopardy grid */
.jeopardy-container {
  display: flex;
  width: 100%;
}

.row.jeopardy-container {
  margin: 0;
}

.jeopardy-col {
  flex-grow: 1;
}

.jeopardy-box {
  height: 80px;
  text-align: center;
  margin: 10px 8px;
  position: relative;
}

.jeopardy-box p {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.jeopardy-cat {
  font-weight: bolder;
  font-size: 1.8em;
  border-radius: 6px;
}

.jeopardy-chall {
  font-size: 1.4em;
  perspective: 1000;
}

.jeopardy-chall:hover .flipper,
.jeopardy-chall.hover .flipper {
  transform: rotateY(180deg);
}

.flipper {
  transition: 0.8s;
  transform-style: preserve-3d;
  position: relative;
  height: 100%;
  width: 100%;
}

.jeopardy-chall .front,
.jeopardy-chall .back {
  position: absolute;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  border-radius: 6px;
}

.jeopardy-chall .front {
  z-index: 2;
  transform: rotateY(0deg);
}

.jeopardy-chall .back {
  transform: rotateY(180deg);
}
