{% extends "base.html" %}
{% block title %}Categories{% endblock %}
{% block body %}
  {% for c in categories %}
  <div class='well'>
    <form method='POST' action='{{url_for('admin_categories')}}'>
      {{csrffield()}}
      <input type='hidden' name='op' value='edit'>
      <input type='hidden' name='cid' value='{{c.cid}}'>
      <div class='form-group'>
        <label for='name-{{c.cid}}'>Title</label>
        <input name='name' id='name-{{c.cid}}' class='form-control'
          value='{{c.name}}'>
      </div>
      <div class='form-group'>
        <label for='description-{{c.cid}}'>Description</label>
        <textarea id='description-{{c.cid}}' name='description'
          class='form-control'>{{c.description}}</textarea>
      </div>
      <input type='submit' value='Edit' class='btn btn-primary'>
      <a href='{{url_for('admin_challenges', cid=c.cid)}}' class='btn btn-info'>Challenges</a>
    </form>
    <form method='POST' action='{{url_for('admin_categories')}}'>
      {{csrffield()}}
      <input type='hidden' name='op' value='delete'>
      <input type='hidden' name='cid' value='{{c.cid}}'>
      <input type='submit' value='Delete' class='btn btn-danger btn-delete'>
    </form>
  </div>
  {% endfor %}
  <div class='well'>
    <form method='POST' action='{{url_for('admin_categories')}}'>
      {{csrffield()}}
      <input type='hidden' name='op' value='new'>
      <div class='form-group'>
        <label for='new-name'>Title</label>
        <input name='name' id='new-name' class='form-control'>
      </div>
      <div class='form-group'>
        <label for='new-description'>Description</label>
        <textarea id='new-description' name='description'
          class='form-control'></textarea>
      </div>
      <input type='submit' value='Add New' class='btn btn-primary'>
    </form>
  </div>
{% endblock %}
