{% extends "base.html" %}
{% block title %}{% if op == 'new'
  %}New Challenge{% else %}Edit Challenge{% endif %}{% endblock %}
{% block body %}
{% if op == 'new' %}
<form method='post' action='{{url_for('admin_challenge', op=op)}}'>
{% else %}
<form method='post' action='{{url_for('admin_challenge', op=op,
  cid=challenge.cid)}}'>
{% endif %}
  {{csrffield()}}
  {% if op == 'delete' %}
    <div class='alert alert-warning'>Really delete {{challenge.name}}?</div>
    <input type='submit' value='Delete' class='btn btn-danger'>
  {% else %}
    <div class='form-group'>
      <label for='name'>Name</label>
      <input id='name' name='name' placeholder='Name'
      {% if challenge %}value='{{challenge.name}}'{% endif %}
        class='form-control'>
    </div>
    <div class='row'>
      <div class='col-md-8'>
        <div class='form-group'>
          <label for='category'>Category</label>
          <select id='category' name='category' class='form-control'>
            <option disabled{% if not cat %}
              selected{% endif %}>-- Select Category --</option>
            {% for category in categories %}
            <option value='{{category.cid}}'{% if
              category.cid == cat %} selected{% endif
              %}>{{category.name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class='col-md-4'>
        <div class='form-group'>
          <label for='points'>Points</label>
          <input id='points' name='points' class='form-control'
            {% if challenge %}value='{{challenge.points}}'{% endif %}
            placeholder='0'>
        </div>
      </div>
    </div>
    <div class='form-group'>
      <label for='description'>Description</label>
      <textarea id='description' name='description' class='form-control'
        >{% if challenge %}{{challenge.description}}{% endif %}</textarea>
    </div>
    <div class='form-group'>
      <label for='answer'>Answer</label>
      <input id='answer' name='answer' class='form-control'
        placeholder='Enter answer; leave blank to leave unchanged.'>
    </div>
    <div class='form-group'>
      <label for='unlocked'>Unlocked</label>
      <input id='unlocked' name='unlocked' value='1' type='checkbox'
        {% if challenge and challenge.unlocked %}checked{% endif %}>
    </div>
    <table class='table' id='hint-table'>
      <thead>
        <tr><th class='col-md-6'>Hint</th><th class='col-md-2'>Points</th><th
            class='col-md-1'></th></tr>
      </thead>
      <tbody>
        {% for hint in challenge.hints %}
          <input type='hidden' name='hint' value='{{hint.hid}}'>
          <tr id='hint-{{hint.hid}}'>
            <td><input name='hint-{{hint.hid}}-hint' class='form-control'
              value='{{hint.hint}}'></td>
            <td><input name='hint-{{hint.hid}}-cost' class='form-control'
              value='{{hint.cost}}'></td>
            <td><a class='delete-hint btn btn-sm btn-warning'>&#x2715;</a></td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr><td></td><td></td><td><a class='add-hint btn btn-sm btn-info'>&#x271B;</a></td></tr>
      </tfoot>
    </table>
    <input type='submit' value='{% if challenge %}Submit Changes{% 
      else %}Create{% endif %}' class='btn btn-primary'>
  {% endif %}
</form>
{% endblock %}
