{% extends "base.html" %}
{% block title %}Teams{% endblock %}
{% block body %}
<table class='table table-striped'>
  <thead>
    <tr>
      <th class='col-md-5'>Team</th>
      <th class='col-md-2'>Solves</th>
      <th class='col-md-2'>Score</th>
    </tr>
  </thead>
  <tbody>
    {% for team in teams %}
      <tr>
        <td><a href='{{url_for('admin_team',
            tid=team.tid)}}'>{{team.name}}</a></td>
        <td>{{team.solves}}</td><td>{{team.score}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
