{% extends "base.html" %}
{% block title %}{{user.nick}}{% endblock %}
{% block body %}
<div class='row'>
  <div class='col-md-5 col-md-offset-2'>
    <form method='POST' action='{{url_for(request.endpoint, uid=uid)}}'>
      <div class='form-group'>
        <label for='nick'>Nick</label>
        <input id='nick' name='nick' readonly class='form-control'
          value='{{user.nick}}'>
      </div>
      <div class='form-group'>
        <label for='email'>Email</label>
        <input id='email' name='email' readonly class='form-control'
          value='{{user.email}}'>
      </div>
      {% if app.config.get('TEAMS') and user.team %}
      <div class='form-group'>
        <label for='team'>Team</label>
        <input id='team' name='team' readonly class='form-control'
          value='{{user.team.name}}'>
      </div>
      {% elif user.team %}
      <div class='form-group'>
        <label for='score'>Score</label>
        <input type='hidden' name='orig_score' value='{{user.team.score}}'>
        <input id='score' name='score' value='{{user.team.score}}'
          class='form-control'>
      </div>
      {% endif %}
      <div class='checkbox'>
        <label>
          <input type='checkbox' name='admin' value='True'
            {% if user.admin %}checked{% endif %}>Admin
        </label>
      </div>
      <input type='submit' value='Save' class='btn btn-primary'>
    </form>
  </div>
</div>
{% endblock %}
