{% extends "base.html" %}
{% block title %}Users{% endblock %}
{% block body %}
<table class='table table-striped'>
  <thead>
    <tr><th>Nick</th><th>E-Mail</th>
      <th>{% if config.get('TEAMS') %}Team{% else %}Solves{% endif %}</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr><td><a
          href='{{url_for('admin_user', uid=user.uid)}}'>{{user.nick}}</a>
        {% if user.admin %}(Admin){% endif %}</td>
      <td><a href='mailto:{{user.email}}'>{{user.email}}</a></td>
      <td>{% if config.get('TEAMS') %}{% if user.team %}<a
          href='{{url_for('admin_team',
          tid=user.team_tid)}}'>{{user.team.name}}</a>{% elif user.admin
        %}(Admin){% endif %}{% else %}{{user.team.solves}}{% endif %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
