<table class='table table-striped'>
  {# TODO: Format table widths. #}
  <thead>
    <tr><th colspan='2' class='center'>Solved</th></tr>
    <tr />
    <tr>
      <th class='col-md-3'>{% if table_for == 'team' %}Challenge{% else %}Team{% endif %}</th>
      <th class='col-md-2'>Timestamp</th>
    </tr>
  </thead>
  <tbody>
    {% for a in answers %}
      <tr>
        <td>{% if table_for == 'team' %}{{a.challenge.name}}{%
          else %}{{a.team.name}}{% endif %}</td>
        <td>{{a.timestamp.strftime('%Y-%m-%d %H:%M:%S')}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
