<div class='ng-hide' ng-show='!!category'>
  <h2>{{category.name}}</h2>
  <div class='well' ng-bind-html='category.description|linky'></div>
  <div ng-repeat='chall in challenges|filter:filterUnlocked'>
    <div challenge-box challenge="chall" />
  </div> <!-- repeat outer -->
</div><!-- category -->

<span class='alert alert-info ng-hide' ng-show='!!category && !challenges.length'>There are no open challenges in this
  category.</span>

<!-- Confirm modal div -->
<div id='hint-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
        <h4 class='modal-title'>Unlock Hint?</h4>
      </div>
      <div class='modal-body'>
        <p>Unlocking this hint will reduce the point value by {{hint.cost}}.</p>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-default'
          data-dismiss='modal'>Cancel</button>
        <button type='button' class='btn btn-primary'
          ng-click='unlockHint(hint)'>Unlock Hint</button>
      </div>
    </div>
  </div>
</div>
