<div class='col-md-6 col-md-offset-3'>
  <form ng-submit='login()'>
    <div class='form-group'>
      <label for='email'>Email</label>
      <input id='email' class='form-control' name='email' placeholder='foo@bar.com'
        ng-model='email'>
    </div>
    <div class='form-group'>
      <label for='password'>Password</label>
      <input id='password' class='form-control' name='password'
        placeholder='password' type='password' ng-model='password'>
    </div>
    <input type='submit' value='Login' class='btn btn-primary'>
  </form>
</div>
