<h2>{{user.nick}}</h2>
<div class='row user-field'>
  <div class='col-md-5 col-md-offset-2'>
    <form ng-submit='updateProfile()' name='profileForm'>
      <label for='team'>Team</label>
      <div class='form-group' ng-show='!!team && !!team.name || changing'>
        <div class='multiple'>
          <input type='text' ng-readonly='!changing' name='team' id='team' ng-model='team.name'
            class='form-control'>
          <button class='btn btn-med side-button' ng-class="{'btn-info': !changing, 'btn-warning': changing}"
              ng-click='!changing ? startJoin() : joinTeam(team.code)' ng-hide='started()' type='button'>
            <span ng-if='!changing'>Change Team</span>
            <span ng-if=' changing'>Join</span>
          </button>
        </div>
        <div class='drop-down'>
          <div ng-repeat='t in teams'
              ng-show='t.name.toLowerCase().indexOf(team.name.toLowerCase())>=0' value='{{t.tid}}'>
            <a class='btn btn-info btn-sm'>
              <i class='material-icons btn-inner'>label</i>
            </a>
            <div class='form-control'>{{t.name}}</div>
          </div>
        </div>
      </div>
      <label for='team_code'>Team Invite Code</label>
      <div class='form-group multiple' ng-show='!!team && !!team.code || changing'>
        <input type='text' ng-readonly='!changing' name='team_code' id='team_code'
          ng-model='team.code' class='form-control'>
      </div>
      <div class='form-group'>
        <label for='email'>Email</label>
        <input type='text' id='email' name='email' readonly
          class='form-control' ng-model='user.email'>
      </div>
      <div class='form-group' ng-show='config.login_method == "local"'>
        <label for='password'>Password</label>
        <input type='password' id='password' name='password'
          placeholder='password (to change)'
          class='form-control' ng-model='user.password'
          required>
      </div>
      <div class='form-group' ng-show='config.login_method == "local"'>
        <label for='password2'>Repeat Password</label>
        <input type='password' id='password2' name='password2'
          placeholder='repeat password' class='form-control'
          ng-model='user.password2' required>
      </div>
      <input type='submit' value='Save' class='btn btn-primary'
        ng-disabled='profileForm.$invalid'>
    </form>
  </div>
</div>
