<h2>Scoreboard</h2>
<div score-chart chart-data='scoreHistory' with-legend
  start-date='{{config.game_start}}' end-date='{{config.game_end}}' class='sbchart'></div>
<table class='table table-striped text-light' id='scoreboard'>
  <thead class='w-100'>
    <tr class='d-flex'><th class='col-2'>Position</th>
      <th class='col-8'><span ng-show='config.teams'>Team</span><span
          ng-hide='config.teams'>Player</span></th>
      <th class='col-2'>Score</th></tr>
  </thead>
  <tbody class='w-100'>
    <tr ng-repeat='entry in scoreboard' class='d-flex'><td
        class='col-2'>{{entry.position}}</td>
      <td class='col-8'><a ng-href='/teams/{{entry.tid}}'>{{entry.name}}</a></td>
      <td class='col-2'>{{entry.score}}</td></tr>
  </tbody>
</table>
