<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{config.get('TITLE', 'Scoreboard')}}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/scoreboard.css" rel="stylesheet">
  </head>
  <body>
    <div class='container'>
      <header class='navbar navbar-default navbar-fixed-top' id='top'>
        <div class='container'>
          <div class='navbar-header'>
            <a class='navbar-brand'>{{config.get('TITLE', 'Scoreboard')}}</a>
          </div>
          <nav class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
              {% if session.user %}
              <li><a href='/challenges'>Challenges</a></li>
              <li><a href='/scoreboard'>Scoreboard</a></li>
              <li><a href='/profile'>Profile</a></li>
              <li><a href='/logout'>Logout</a></li>
              {% else %}
              <li><a href='/login'>Login</a></li>
              <li><a href='/register'>Register</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </header>
      <div class='container full-height'>
        <div class='row full-height'>
          <div class='col-md-3 left-sidebar full-height'>
            {% block sidebar %}
            {% if g.user and g.user.admin %}
              <div class='list-group'>
                <a href='{{url_for('admin_categories')}}'
                  class='list-group-item'>Categories</a>
                <a href='{{url_for('admin_challenges')}}'
                  class='list-group-item'>Challenges</a>
                <a href='{{url_for('admin_challenge_backup')}}'
                  class='list-group-item'>Backup Challenges</a>
                <a href='{{url_for('admin_challenge_restore')}}'
                  class='list-group-item'>Restore Challenges</a>
                <a href='{{url_for('admin_users')}}'
                  class='list-group-item'>Users</a>
                {% if config.get('TEAMS') %}
                  <a href='{{url_for('admin_teams')}}'
                    class='list-group-item'>Teams</a>
                {% endif %}
              </div>
            {% endif %}
            {% endblock %}
          </div>
          <div class='col-md-9'>
            <h2>{% block title %}{% endblock %}</h2>
            {% with messages = get_flashed_messages(with_categories=True) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{category}}">{{message}}</div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            {% block body %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
    <script src="/static/lib/jquery/jquery.min.js"></script>
    <script src="/static/lib/bootstrap/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='js/scoreboard.js')}}"></script>
  </body>
</html>
