{% extends "base.html" %}
{% block title %}{% if category %}{{category.name}}{%
    else %}Challenges{% endif %}{% endblock %}
{% block sidebar %}
  <div class='list-group'>
  {% for cat in categories %}
  <a href='{{url_for('challenges_by_cat', slug=cat.slug)}}'
    class='list-group-item'>{{cat.name}}</a>
  {% endfor %}
  </div>
{{ super() }}
{% endblock %}
{% block body %}
{% if category %}
  <div class='well'>{{category.description|urlize}}</div>
  {% if challenges %}
    {% for chall in challenges %}
      <div class='panel panel-primary'>
        <div class='panel-heading'>
          <h3 class='panel-title'>{{chall.name}}</h3>
          <span class='right'>{{chall.points}}</span>
        </div>
        <div class='panel-body'>
          <p>{{chall.description|urlize}}</p>
          {% if g.team and chall.is_answered(answers=g.team.answers) %}
            <span class='alert alert-success solved'>Solved</span>
          {% elif g.team %}
            {% if chall.hints %}
              <div class='hints'>
                <ul>
                  {% for hint in chall.hints %}
                    {% if hint.is_unlocked(unlocked_hints=g.team.hints) %}
                      <li>{{hint.hint}}</li>
                    {% endif %}
                  {% endfor %}
                </ul>
                <ul class='list-inline'>
                  {% for hint in chall.hints %}
                    {% if not hint.is_unlocked(unlocked_hints=g.team.hints) %}
                      <li><form method='post'
                        action='{{url_for('unlock_hint')}}'>
                        {{csrffield(path='unlock_hint')}}
                        <input type='hidden' name='hid' value='{{hint.hid}}'>
                        <input type='hidden' name='cost' value='{{hint.cost}}'>
                        <input type='hidden' name='redir'
                          value='{{request.path}}'>
                        <input type='submit' value='Hint {{loop.index}}'
                          class='btn btn-info hint-unlock'>
                      </form></li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
            <form action='{{url_for('submit', cid=chall.cid)}}' method='POST'>
              {{csrffield(path='submit')}}
              <input type='hidden' name='cid' value='{{chall.cid}}'>
              <div class='form-group'>
                <label for='answer-{{chall.cid}}'>Answer</label>
                <input name='answer' class='form-control'
                  id='answer-{{chall.cid}}'>
              </div>
              <input type='submit' value='Submit' class='btn btn-primary'>
            </form>
          {% endif %}
        </div>
      </div>
    {% endfor %}
    <!-- Confirm modal div -->
    <div id='hint-modal' class='modal fade'>
      <div class='modal-dialog'>
        <div class='modal-content'>
          <div class='modal-header'>
            <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
            <h4 class='modal-title'>Unlock Hint?</h4>
          </div>
          <div class='modal-body'>
            <p>Unlocking this hint will reduce the point value by <span
              id='hint-cost'></span>.</p>
          </div>
          <div class='modal-footer'>
            <button type='button' class='btn btn-default'
              data-dismiss='modal'>Cancel</button>
            <button type='button' class='btn btn-primary'>Unlock Hint</button>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <span class='alert alert-info'>There are no open challenges in this
      category.</span>
  {% endif %}
{% else %}
  Choose a category to see challenges.
{% endif %}
{% endblock %}
