body {
  background-color: #2f343a;
}
.navbar-default {
  background-color: #27326d;
}
.left-sidebar-background {
  background-color: #cbcbcb;
}
a.list-group-item {
  background-color: #27326d;
}
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  background-color: #8899b7;
  border-color: #8899b7;
}
#news-box {
    background-color: #4e5d6c;
}
input.form-control[readonly] {
    background-color: #fff;
}
#loading-overlay {
    background-color: #000;
}

/* Jeopardy grid */
.jeopardy-cat {
  background: #3e5edb;
}

.jeopardy-chall .front,
.jeopardy-chall .back {
  background: #2444c1;
}

.jeopardy-chall.solved .card {
  background: #1c3596;
}
