<h2>Categories</h2>
<div class='well' ng-repeat='c in categories'>
  <form ng-submit='updateCategory(c)' name='adminCategoryForm[$index]'>
    <div class='form-group'>
      <label for='name-{{c.slug}}'>Title</label>
      <input name='name' id='name-{{c.slug}}' class='form-control'
        ng-model='c.name' required>
    </div>
    <div class='form-group'>
      <label for='description-{{c.slug}}'>Description</label>
      <textarea id='description-{{c.slug}}' name='description'
        class='form-control' ng-model='c.description'></textarea>
    </div>
    <input type='submit' value='Edit' class='btn btn-primary'>
    <a href='/admin/challenges/{{c.slug}}' class='btn btn-info'>Challenges</a>
    <div>
      <input type='button' value='Delete' class='btn btn-danger btn-delete'
        ng-click='deleteCategory(c)' ng-disabled='invalidForm($index)'>
    </div>
  </form>
</div>
<div class='well'>
  <form ng-submit='addCategory()' name='adminCategoryForm'>
    <div class='form-group'>
      <label for='new-name'>Title</label>
      <input name='name' id='new-name' class='form-control'
        ng-model='newCategory.name' required>
    </div>
    <div class='form-group'>
      <label for='new-description'>Description</label>
      <textarea id='new-description' name='description'
        class='form-control' ng-model='newCategory.description'></textarea>
    </div>
    <input type='submit' value='Add New' class='btn btn-primary'
      ng-disabled='adminCategoryForm.$invalid'>
  </form>
</div>
