<h2>Restore Challenges</h2>
<form method='POST' action='/admin/back/challenges/restore'
  enctype='multipart/form-data'>
  <input type='hidden' ng-model='config.csrf' name='csrftoken'>
  <div class='form-group'>
    <label for='restore-file'>Restore File (JSON)</label>
    <input type='file' id='restore-file' name='restorefile'
    class='form-control'>
  </div>
  <div class='checkbox'>
    <label><input type='checkbox' id='replace'
      name='replace' value='True'>Replace instead of merging.</label>
  </div>
  <input type='submit' value='Restore' class='btn btn-primary'>
</form>
